.box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .box div {
    width: 100px; /*Passer en auto*/
    height: 100px; /*Passer en auto*/
    border-style: solid; /*A retirer ensuite*/
  }

  /*Rotation 180° du bloc de gauche sur l'axe des y à partir du centre*/