.box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .box div {
    width: auto;
    height: auto;
    color: green;
    font-weight: bolder;
    font-size: larger;
    /*border-style: solid;*/
  }

    .pied {
      color: #6E2C00;
     }

    .etoile {
      color: yellow;

    }

    
    #main-box {
      flex-direction: row;
    }
    
    #second-box {
      min-height: auto;
    }
    
    #sapin {
      flex-direction: column;
    }
    
    #cadre-1 {
      transform: scaleX(-1);
    }

    #curseur-box {
      flex-direction: column;
      margin-right: 10%;
    }
    
    
  /*Rotation 180° du bloc de gauche sur l'axe des y à partir du centre*/